:root {
    --White_: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Light_gray);
}
p {
    font-weight: 400;
    font-size: 15px;
}

main > div {
    background-color: var(--White_);;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 490px;
    box-shadow: 0 0 10px  rgb(0, 0, 0 , 0.1); 
    transition: transform ease 0.2s;
}
main > div:hover {
    transform: scale(1.04);
}
div img {
    height: 288px;
    width: 288px;
    border-radius: 15px;
    margin-top: -20px;
}
div h2 , div p{
    text-align: center;
}
div h2 {
    color: var(--Dark_blue);
    font-size: 22px;
}
div p {
    color: var(--Grayish_blue);
}
.attribution {
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    width: 100%;
    text-align: center;

}